@page
@model Web2.Pages.DataPatientModel
@{
    ViewData["Title"] = "Данные для диагностики";
}

<div data-aos="fade-up-left" class="table-responsive">

<table id="tblCustomers" class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th class="noExl">Предсказание</th class="noExl">
            <th role="columnheader">
                Кальций сыворотки крови (ммоль/л)
            </th>
            <th role="columnheader">
                Фосфор сыворотки крови (ммоль/л)
            </th>
            <th role="columnheader">
                Оксипролин сыворотки крови (ммоль/л)
            </th>
            <th role="columnheader">
                Экскреция кальция (мМ/сутки)
            </th>
            <th role="columnheader">
                Экскреция фосфора (ммоль/л)
            </th>
            <th role="columnheader">
                Экскреция оксипролина (мкм/мг креатинина)
            </th>
            <th role="columnheader">
                Степень выраженности ДСТ по Т.Милковской-Димитровой (в баллах)
            </th>
             <th role="columnheader">
               Время удержания позы (мин.)
            </th>
            <th role="columnheader">
               Величина кифоза в градусах в грудном отделе позвоночника
            </th>
            <th role="columnheader">
               Наличие изменений стабилографических показателей
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.analyzes2) {
        <tr>
            <td class="noExl">
                <button class="fas fa-clinic-medical bt-ur" title="Предсказание" onclick="document.location='/Processing/Test?id_a=@item.id_analysis&id_e=@item.id_examination'"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serum_calcium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serum_phosphorus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serum_oxyproline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calcium_excretion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phosphorus_excretion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oxyproline_excretion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.severity_of_dst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posture_holding_time)
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.the_amount_of_kyphosis_in_degress)
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.stabilographic_changes)
             </td>
        </tr>
}
    </tbody>
</table>
</div>