@page
@model Web2.Pages.Database.Examinations.DetailsModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Details";
}

<body>

<h1>Подробности</h1>

<div>
    <h4>Диспансеризация</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-9">
            Номер пациента
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.P_E.id_patient)
        </dd>
        <dt class="col-sm-9">
            Дата прохождения
            </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.date)
        </dd>
        <dt class="col-sm-9">
            Время удержания позы
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.posture_holding_time)
        </dd>
        <dt class="col-sm-9">
            Величина кифоза в градусах в грудном отделе позвоночника
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.the_amount_of_kyphosis_in_degress)
        </dd>
        <dt class="col-sm-9">
            Изменение контуров замыкательных пластинок
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.changing_the_contours_of_the_end_plates)
        </dd>
        <dt class="col-sm-9">
            Клиновидная форма тел позвонков
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.wedgeshaped_vertebral_bodies)
        </dd>
        <dt class="col-sm-9">
            Грыжи Шморля
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.schmorl_hernia)
        </dd>
        <dt class="col-sm-9">
            Остеопороз тел позвонков
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.osteoporosis_of_the_vertebrae)
        </dd>
        <dt class="col-sm-9">
            Уменьшение высоты межпозвоночного диска
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.decrease_in_the_height_of_the_intervertebral_disc)
        </dd>
        <dt class="col-sm-9">
            Изменение контуров апофизов
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.change_in_the_contours_of_the_apophyses)
        </dd>
        <dt class="col-sm-9">
            Признаки остеохондроза
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.signs_of_osteochondrosis)
        </dd>
        <dt class="col-sm-9">
            Стабилографические изменения
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.stabilographic_changes)
        </dd>
        <dt class="col-sm-9">
            ЭНМГ
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Examination.enmg)
        </dd>
    </dl>
</div>

</body>