@page
@model Web2.Pages.Database.Examinations.ExaminationsModel
@{
	ViewData["Title"] = "Результаты диспансеризации";
}

<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <script src="~/scripts/modal.js" asp-append-version="true" ></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />

</head>

<body>
<h2>Диспансеризация</h2>

<p>
    <a asp-page="Create">Добавить</a>
</p>

<form method="post">
<p>
    <div class="row">
            <div class="col-md-3">
    <label class="form-label">Группа</label>
    <select class="form-select" name="G1" asp-items="Model.GetGroup()">
        <option value=""></option>
    </select>
            </div>
        </div>
</p>

<div class="form-group">
    <input type="submit" style="margin: 5px 20px 5px 20px;" value="Выбрать" class="btn btn-primary" />
</div>
</form>

<div data-aos="fade-up-left" class="table-responsive">

    <table id="tblCustomers" class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th role="columnheader">
               Дата прохождения
            </th>
            <th role="columnheader">
               Время удержания позы (мин.)
            </th>
            <th role="columnheader">
               Величина кифоза в градусах в грудном отделе позвоночника
            </th>
            <th role="columnheader">
               Изменение контуров замыкательных пластинок
            </th>
            <th role="columnheader">
               Клиновидная форма тел позвонков
            </th>
            <th role="columnheader">
               Грыжи Шморля
            </th>
            <th role="columnheader">
               Остеопороз тел позвонков
            </th>
            <th role="columnheader">
               Уменьшение высоты межпозвоночного диска
            </th>
            <th role="columnheader">
               Изменение контуров апофизов
            </th>
            <th role="columnheader">
               Признаки остеохондроза
            </th>
            <th role="columnheader">
               Стабилографические изменения
            </th>
            <th role="columnheader">
               ЭНМГ
            </th>
                <th class="noExl">Инструменты</th class="noExl">
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.examination)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.posture_holding_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.the_amount_of_kyphosis_in_degress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.changing_the_contours_of_the_end_plates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wedgeshaped_vertebral_bodies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schmorl_hernia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.osteoporosis_of_the_vertebrae)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.decrease_in_the_height_of_the_intervertebral_disc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.change_in_the_contours_of_the_apophyses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.signs_of_osteochondrosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stabilographic_changes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.enmg)
                </td>
               <td class="noExl">
                <button class="fas fa-edit bt-ur" onclick="openModal({ url: '/Database/Examinations/Edit', data: '@item.id_examination' })"
                            datd-toggle="ajax-modal" data-target="Modal" title="Редактировать"/>
                 
                <button class="fas fa-search bt-ur" onclick="openModal({ url: '/Database/Examinations/Details', data: '@item.id_examination' })"
                            datd-toggle="ajax-modal" data-target="Modal" title="Подробности"/>
                 
                <button class="fas fa-trash bt-ur" id="@item.id_examination" id2="show-modal" title="Удалить"/>
            </td class="noExl">
            </tr>
        }
    </tbody>
</table>
</div>

 @section scripts{
       <script>
    var id;
    const modal=new ItcModal({
        title: 'Удаление',
        content: '<h4>Вы уверены, что хотите удалить это?</h4>',
        footerButtons: [
            {class: 'btn btn-primary', text: 'ОК', action: 'ok'},
            {class: 'btn btn-danger', text: 'Отмена', action: 'cancel'}
        ]
    });
    document.addEventListener('click', (e) => {
    if (e.target.closest('[id2="show-modal"]')) {
      id = e.target.id;
      modal.show();
    }
     if (e.target.closest('[data-action="ok"]')) {

         $.ajax({
             type: 'POST',
             headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
             url: '?handler=Delete',
             data:{ id: id},
             success: function () {
            window.location.href = "/Database/Examinations/Examinations"; // reload page
        },
        error: function (response) {
            alert(response);
        }
         })

      modal.hide();
    }
    if (e.target.closest('[data-action="cancel"]')) {
      modal.hide();
    }
  });
</script>

     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	 <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
     <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/date-eu.js"></script>
     <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
     <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
     <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

     <script type="text/javascript">
         $(document).ready(function() {
             $('#tblCustomers').DataTable( {
                 dom: 'Bfrtip',
                 buttons: [
                     {
                         extend: 'print',
                         exportOptions: {
                             columns: [0, 1, 2]
                         }
                     },
                     {
                         extend: 'copyHtml5',
                         exportOptions: {
                             columns: [0, 1, 2]
                         }
                     },
                     {
                         extend: 'excelHtml5',
                         exportOptions: {
                             columns: [0, 1, 2]
                         }
                     },
                     {
                         extend: 'pdfHtml5',
                         exportOptions: {
                             columns: [0, 1, 2]
                         }
                     },
                     ],
                  language: { url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json", },
                  columnDefs: [{ type: 'date-eu', targets: [0] }]
             });
             $('.dataTables_length').addClass('bs-select');
         } );
     </script>
    }

</body>