@page
@model Web2.Pages.Database.Analyzes.DetailsModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Details";
}

<body>

<h1>Подробности</h1>

<div>
    <h4>Анализы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-9">
            Номер пациента
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.P_A.id_patient)
        </dd>
            <dt class="col-sm-9">
                Дата забора
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.Analyzes.date)
            </dd>
        <dt class="col-sm-9">
            Кальций сыворостки крови (ммоль/л)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.serum_calcium)
        </dd>
        <dt class="col-sm-9">
            Фосфор сыворотки крови (ммоль/л)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.serum_phosphorus)
        </dd>
        <dt class="col-sm-9">
            Оксипролин сыворотки крови (мкмоль/л)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.serum_oxyproline)
        </dd>
        <dt class="col-sm-9">
            Эксреция кальция (мМ/сутки)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.calcium_excretion)
        </dd>
        <dt class="col-sm-9">
            Экскреция фосфора (ммоль/л)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.phosphorus_excretion)
        </dd>
        <dt class="col-sm-9">
            Экскреция оксипролина (мкм/мг креатина)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.oxyproline_excretion)
        </dd>
        <dt class="col-sm-9">
            Степень выраженности ДСТ (в баллах)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Analyzes.severity_of_dst)
        </dd>
    </dl>
</div>

</body>